<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Kumpulan Kuis</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Materi</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Hubungi Kami</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <ng-container *ngIf="user$ | async as user">
        <span class="text-sm font-semibold leading-6 text-gray-900 mr-4">{{ user.display_name || user.email.split('@')[0] }}</span>
        <button (click)="logout()" class="text-sm font-semibold leading-6 text-gray-900">Log out <span aria-hidden="true">→</span></button>
      </ng-container>
      <ng-template #loginSignup>
        <a routerLink="/login" class="text-sm font-semibold leading-6 text-gray-900 cursor-pointer mr-4">Log in</a>
        <a routerLink="/register" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer">Sign up</a>
      </ng-template>
    </div>
  </nav>
</header>

<!-- Login Popup -->
<!-- <div *ngIf="showLoginPopup" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" (click)="closeLoginPopup()">
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white" (click)="$event.stopPropagation()">
    <app-login (closePopup)="closeLoginPopup()"></app-login>
  </div>
</div> -->

<!-- Signup Popup -->
<!-- <div *ngIf="showSignupPopup" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" (click)="closeSignupPopup()">
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white" (click)="$event.stopPropagation()">
    <app-register (closePopup)="closeSignupPopup()"></app-register>
  </div>
</div> -->